project = "katta"
environment = "development"
dns_suffix = "TODO"
region = "eu-central-1"
vpc_cidr = "10.1.0.0/16"
keycloak_db_name = "keycloak_database"
keycloak_db_username = "keycloak_admin"
keycloak_db_password = "TODO"
keycloak_admin_username = "keycloak_admin"
keycloak_admin_password = "TODO"

hub_db_name = "hub_database"
hub_db_username = "hub_admin"
hub_db_password = "TODO"

// must match values in cryptomator-realm.json!
HUB_KEYCLOAK_SYSTEM_CLIENT_SECRET= "TODO"
HUB_KEYCLOAK_OIDC_CRYPTOMATOR_VAULTS_CLIENT_SECRET= "TODO"