project = "keycloak"
environment = "development"
region = "eu-central-1"
vpc_cidr = "10.1.0.0/16"
db_name = "keycloak_database"
db_username = "keycloak_admin"
db_password = "TODO"
keycloak_admin_username = "keycloak_admin"
keycloak_admin_password = "TODO"
