# Project Configuration
project = "katta"                    # The project name where all resources will be launched
environment = "development"          # The environment name (e.g., development, staging, production)
dns_suffix = "TODO"                  # DNS suffix for service endpoints
region = "eu-central-1"              # The AWS region to create resources
vpc_cidr = "10.1.0.0/16"             # The CIDR block for the VPC

# Keycloak Database Configuration
keycloak_db_name = "keycloak_database"      # The name of the Keycloak database
keycloak_db_username = "keycloak_admin"     # The username for the Keycloak database
keycloak_db_password = "TODO"               # The password for the Keycloak database

# Keycloak Admin Configuration
keycloak_admin_username = "keycloak_admin"  # The username for the Keycloak admin user
keycloak_admin_password = "TODO"            # The password for the Keycloak admin user

# Hub Database Configuration
hub_db_name = "hub_database"        # The name of the Hub database
hub_db_username = "hub_admin"       # The username for the Hub database
hub_db_password = "TODO"            # The password for the Hub database

# Hub Keycloak Client Secrets
# IMPORTANT: These must match values in cryptomator-realm.json!
HUB_KEYCLOAK_SYSTEM_CLIENT_SECRET= "TODO"                        # Client secret for Hub's Keycloak system client
HUB_KEYCLOAK_OIDC_CRYPTOMATOR_VAULTS_CLIENT_SECRET= "TODO"       # Client secret for Hub's Keycloak OIDC Cryptomator Vaults client